venv
secret.py
__pycache__/secret.cpython-38.pyc
.idea/dnevnik.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
__pycache__/secret.cpython-39.pyc
.idea/.gitignore
